asgiref==3.6.0
crispy-bootstrap5==0.7
dj-database-url==1.2.0
Django==4.1.7
django-crispy-forms==2.0
django-fontawesome-5==1.0.18
django-icons==22.1
Pillow==9.4.0
psycopg2-binary==2.9.5
python-decouple==3.7
sqlparse==0.4.3
