django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-icons = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
python-dotenv = "*"
boto3 = "*"
django-storages = "*"
fontawesomefree = "*"