.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

.searchInput{
    border: none;
    background-color: transparent;
    color: black;    
}

.form_input{
    width: 100%;
}



textarea{
    height:80px;
    border: none;
    overflow: hidden;
    width: 100%;
    width: none;
    background-color: transparent;
    color: #fff;
}

.searchInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon{
   font-size: 18px;
   margin-right: 3px;
}

.shareOptionText{
    font-size:14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor:pointer;
    color: white;
}