{% extends "posts/base.html" %}
{% block content %}
<div class="profile-user">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <p class="text-secondary">{{ user.profile.bio }}</p>
      <p class="text-secondary">{{ post_queryset_length }} posts</p>
    </div>
  </div>
  <a href="{% url 'profile-edit'  %}">
    <button class="styled-profile">Edit profile</button>
  </a>
  {% for post in posts %}
        <article class="media content-section" style="width: 100%">
          <div class="media-body">
            <div class="article-metadata p-2">
              <a class="mr-2" href="{% url 'profile-view' post.user.pk %}">
                <img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}" alt="">
                {{ post.user }}
              </a>
              <small class="text-muted m-2">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <a href="{% url 'post-detail' post.id %}" style="text-decoration: none; color: #fff">
              <p class="article-content">{{ post.caption }}</p>
            </a>
            {% if post.image %}
              <div class="image-container">
                <img src="{{ post.image.url }}" alt="Post Image">
              </div>
            {% endif %}
          </div>
          <a href="/like-post?post_id={{ post.id }}"class="like-link m-2 {% if post.is_liked_by_user %}liked{% endif %}" data-post-id="{{ post.id }}">
            <div class="liked_div {% if post.is_liked_by_user %}liked{% endif %}">
              <i class="fa-solid fa-heart"></i>
              <span>{{ post.no_of_likes }}</span>
            </div>
          </a>
        </article>
      {% endfor %}
</div>    
{% endblock content %}