{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/share.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
    <script defer src="{% static 'posts/main.js'%}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    {% if title %}
        <title>Django social App - {{ title }}</title>
    {% else %}
        <title>Django social App</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="nav-link active" href="{% url 'post-home' %}">Home <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- Use ml-auto to align items to the right -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post-upload' %}">New post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link">
                                <img class="rounded-circle article-img" src="{{user.profile.image.url}}" alt="">
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" class="container w-100 mt-4">
        <div class="row d-flex justify-content-between w-100">
            <!-- Center - Main Content Block -->
            <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="border-right">
                    {% block content %}{% endblock %}
                </div>
            </div>

            <!-- Right Side - Suggestions Card -->
            {% if user.is_authenticated %}
<div class="col-md-3">
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title text-center">Suggestions for You</h5>
            {% include 'users/suggested_users.html' %}
        </div>
    </div>
</div>
{% endif %}
        </div>
    </main>

    <!-- Your JavaScript and Bootstrap JS imports here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
