{% extends "posts/base.html" %}
{% block content %}

   <div class="container-element">

      {% for post in posts %}
        <article class="media content-section" style="width: 80%">
          <img class="rounded-circle article-img" src="{{post.user.profile.image.url}}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile-view' pk=post.user.pk %}">{{ post.user }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <a href="{% url 'post-detail' post.id %}" style="text-decoration: none; color: #fff">
              <p class="article-content">{{ post.caption }}</p>
            </a>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="Post Image" class="post-image" >
            {% endif %}
          </div>
        </article>
    {% endfor %}
    <h1>hello</h1>
   </div>
{% endblock content %}