{% extends "posts/base.html" %}
{% block content %}
  <div class="whole_home">
   <div class="container-element">
    <form method="post" id="createPostForm" action="{% url 'post-upload' %}" enctype="multipart/form-data" class="mb-2 border-bottom">
        {% csrf_token %}
        <div class="parent_input">
            <div class="user_post m-2 d-flex align-items-center">
              <a class="mr-2" href="{% url 'profile-view' pk=user.pk %}">
                <img class="rounded-circle article-img" src="{{user.profile.image.url}}" alt="">
              </a>
                <textarea id="inputField" name="caption" class="border-0 mt-3" placeholder="Say something..." oninput="resizeTextarea()" style="resize: none; display: block; color: black;"></textarea>
            </div>
            <section class="d-flex pb-2">
              <div class="p-2">
                <input type="file" name="image" id="imageInput" accept="image/*" style="display: none;">
                  <label for="imageInput" class="primary" style="cursor: pointer; color: #28a745;"><i class="fa fa-image"></i></label>
                  <span id="selectedImageLabel"></span>
                  <img id="imagePreview" src="" alt="Image Preview" style="width: 100%; height: 200px;object-fit: cover; display: none;">
               </div>
               <div class="ms-auto" style="margin-right: 5px;">
                 <button type="submit" class="btn btn-success ml-2" id="submitButton">Post</button>
               </div>
            </section>
        </div>
    </form>

      {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata p-2 d-flex align-items-center">
              <a class="mr-2" href="{% url 'profile-view' pk=post.user.pk %}">
                <img class="rounded-circle article-img" src="{{post.user.profile.image.url}}" alt="">
                {{ post.user }}
              </a>
              <small class="text-muted m-2">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <a href="{% url 'post-detail' post.id %}" style="text-decoration: none; color: #fff">
              <p class="article-content">{{ post.caption }}</p>
            </a>
            {% if post.image %}
              <div class="image-container">
                <img src="{{ post.image.url }}" alt="Post Image" class="post-image">
              </div>
            {% endif %}
          </div>
          <div class="d-flex align-items-center flex-start">
            <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;">
            <span class="p-2">
              <i class="fa fa-comment"></i>
              <span style="text-decoration: none;">{{post.comments.count}}</span>
            </span>
            </a>
            <section class="like-link m-2 {% if post.is_liked_by_user %}liked{% endif %}" data-post-id="{{ post.id }}" style="cursor: pointer;">
                <i class="fa-solid fa-heart"></i>
                <span>{{ post.no_of_likes }}</span>
            </section>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>

  <script>
    function resizeTextarea() {
        const inputField = document.getElementById('inputField');
        inputField.style.height = 'auto';
        inputField.style.height = (inputField.scrollHeight) + 'px';

        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = inputField.value.trim() === '';
    }
    window.addEventListener('load', resizeTextarea);

    const imageInput = document.getElementById('imageInput');
    const selectedImageLabel = document.getElementById('selectedImageLabel');
    const imagePreview = document.getElementById('imagePreview');

    imageInput.addEventListener('change', () => {
        const selectedFile = imageInput.files[0];
        if (selectedFile) {
            selectedImageLabel.innerHTML = '<i class="fa fa-image"></i> Image selected';
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };
            reader.readAsDataURL(selectedFile);
        } else {
            selectedImageLabel.innerHTML = '';
            imagePreview.src = '';
            imagePreview.style.display = 'none';
        }
    });

  </script>
{% endblock content %}