{% extends "posts/base.html" %}
{% block content %}
    <article class="media content-section border-bottom-0">
      <section class="divide d-flex " style="color: #ccc; font-size: .9rem;">
        <a class="" href="{% url 'profile-view' pk=post.user.pk %}" style="text-decoration: none;">
            <img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}" alt="">
        </a>
        <main>
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile-view' pk=post.user.pk %}">{{ post.user }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <p class="article-content">{{ post.caption }}</p>
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image" class="post-image" >
          {% endif %}
        </div>
        <div class="d-flex align-items-center flex-start">
          <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;">
          <span class="p-2">
            <i class="fa fa-comment"></i>
            <span style="text-decoration: none;">{{post.comments.count}}</span>
          </span>
          </a>
          <section class="like-link m-2 {% if post.is_liked_by_user %}liked{% endif %}" data-post-id="{{ post.id }}" style="cursor: pointer;">
              <i class="fa-solid fa-heart"></i>
              <span>{{ post.no_of_likes }}</span>
          </section>
        </div>
        </main>
      </section>
      <div class="comments-section border-top" style="padding-top: 5px;">

        <!-- form for comment -->
        <form method="post" action="{% url 'create-comment' post.id %}">
          {% csrf_token %}
          <div class="user_post d-flex align-items-center border-bottom">
              <a class="mr-2" href="{% url 'profile-view' pk=user.pk %}">
                  <img class="rounded-circle article-img" src="{{user.profile.image.url}}" alt="">
              </a>
              <textarea name="comment_text" id="inputField" class="border-0 mt-4" placeholder="post your comment..." oninput="resizeTextarea()" style="resize: none; display: block; color: black;"></textarea>
              <button type="submit" class="btn btn-primary ml-2 border-0" style="background-color: #28a745;" id="submitButton">post</button>
          </div>
        </form>

        <!-- comment section -->
      
        {% for comment in object.comments.all %}

        <section class="divide d-flex border-bottom" style="color: #ccc; font-size: .9rem; margin-top: 1rem;">
          <a class="" href="{% url 'profile-view' pk=post.user.pk %}" style="text-decoration: none;">
              <img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}" alt="">
          </a>
          <main>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile-view' pk=comment.author.pk %}">{{ post.user }}</a>
              <small class="text-muted">{{ comment.created_at | date:"F d, Y" }}</small>
            </div>
            <a href="{% url 'comment-detail' post.id comment.id%}">
              <section class="like-comment-link m-2 {% if comment.is_liked_by_user %}liked{% endif %}" data-comment-id="{{ comment.id }}">
                <div class="liked_comment {% if comment.is_liked_by_user %}liked{% endif %}">
                  <p class="article-content">{{ comment.text }}</p>
                  <span>{{ comment.likes_count }}</span>
                  <!-- <i class="fa-solid fa-heart"></i> -->
                </div>
              </section>
              </a>
          </main>
        </section>

          {% for reply in comment.replies.all %}
            <div class="reply">
              <strong>{{ reply.author.username }}</strong>: {{ reply.text }}
              <button class="like-comment-link m-2 {% if reply.is_liked_by_user %}liked{% endif %}" data-comment-id="{{ reply.id }}">
                <div class="liked_div {% if reply.is_liked_by_user %}liked{% endif %}">
                  <i class="fa fa-comment"></i>
                  <span>{{ reply.likes_count }}</span>
                </div>
              </button>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      </article>
    <script>
      function resizeTextarea() {
        const inputField = document.getElementById('inputField');
        inputField.style.height = 'auto';
        inputField.style.height = (inputField.scrollHeight) + 'px';

        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = inputField.value.trim() === '';

    }
    window.addEventListener('load', resizeTextarea);
    </script>
{% endblock content %}