{% extends "posts/base.html" %}
{% block content %}
  <h2>New Post</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="caption">Caption</label>
      <textarea class="form-control" name="caption" id="caption" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" name="image" id="image">
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">post</button>
    </div>
  </form>
{% endblock %}
