{% extends "posts/base.html"%}
{% block content%}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata p-2">
            <a class="mr-2" href="{% url 'profile-view' pk=post.user.pk %}">
              <img class="rounded-circle article-img" src="{{object.user.profile.image.url}}" alt="">
              {{ object.user }}
            </a>
            <small class="text-muted">{{ object.date_posted |date:"F d, Y" }}</small>
            {% if object.user == user%}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id%}">edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id%}">Delete</a>
              </div>
            {%endif%}
          </div>
          <p class="article-content">{{ object.caption }}</p>
        </div>
        <a href="/like-post?post_id={{ post.id }}"class="like-link m-2 {% if post.is_liked_by_user %}liked{% endif %}" data-post-id="{{ post.id }}">
          <div class="liked_div {% if post.is_liked_by_user %}liked{% endif %}">
            <i class="fa-solid fa-heart"></i>
            <span>{{ post.no_of_likes }}</span>
          </div>
        </a>
      </article>
{% endblock content%}