{% extends "posts/base.html"%}
{% block content%}
<div class="d-flex justify-content-between">
<div class="profile-header">
    <img class="rounded-circle account-img" src="{{ profile_user.profile.image.url }}" alt="Profile Image">
    <h2>{{ profile_user.username }}</h2>
    <p>{{profile_user.profile.bio}}</p>
    <p>{{ post_queryset_length }} posts</p>

    <div class="d-flex">
      <p class="text-secondary">Followers: <span id="followers-count">{{ followers.count }}</span></p>
      <p class="text-secondary" style="margin-left: 10px;">Following: 
        <span id="following-count">
         {{ following.count }}
      </span>
      </p>
    </div>
</div>
<section class="mt-3">
  {% if user != profile_user %}
<button type="button" class="follow-btn ml-2  {% if profile_following %}unfollow{% endif %} btn btn-outline-success" data-user-id="{{ profile_user.id }}" >
    {% if profile_following %}
        following
    {% else %}
        Follow
    {% endif %}
</button>
{% endif %}
</section>
</div>

{% if profile_user == user%}
<a href="{% url 'profile-edit'  %}">
    <button class="">Edit profile</button>
  </a>
{% endif %}

<div class="post-section">
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata p-2">
                <a class="mr-2" href="{% url 'profile-view' post.user.pk %}">
                    <img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}" alt="">
                    {{ post.user }}
                </a>
                <small class="text-muted m-2">{{ post.date_posted | date:"F d, Y" }}</small>
            </div>
            <a href="{% url 'post-detail' post.id %}" style="text-decoration: none; color: #fff">
                <p class="article-content">{{ post.caption }}</p>
              </a>
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="Post Image"  width="100%" height="100%">
            {% endif %}
        </div>
        <a href="/like-post?post_id={{ post.id }}"class="like-link m-2 {% if post.is_liked_by_user %}liked{% endif %}" data-post-id="{{ post.id }}">
            <div class="liked_div {% if post.is_liked_by_user %}liked{% endif %}">
              <i class="fa-solid fa-heart"></i>
              <span>{{ post.no_of_likes }}</span>
            </div>
          </a>
    </article>
    {% endfor %}
</div>
{% compress js inline %}
<script>
  // JavaScript for handling the follow action
  document.querySelectorAll('.follow-btn').forEach(button => {
      button.addEventListener('click', function (event) {
          event.preventDefault();
          const userId = button.dataset.userId;
          const csrfToken = '{{csrf_token}}'
          const headers = new Headers({
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken
          });

          fetch(`/follow-user/${userId}/`, { method: 'POST', headers: headers })
              .then(response => response.json())
              .then(data => {
                  if (data.error) {
                      alert(data.error);
                  } else {
                      button.textContent = data.following ? 'Unfollow' : 'Follow';
                      button.classList.toggle('unfollow', data.following);
                      document.getElementById('followers-count').textContent = data.followers_count;
                      document.getElementById('following-count').textContent = data.following_count;
                  }
              })
              .catch(error => console.error('Error:', error));
      });
  });
</script>
{% endcompress %}
{%endblock%}